.logo{
    text-align: center;
}
.logo img{
    margin-top: 20px;
    width: 300px;
}
.nav{
    background-color: rgb(32, 32, 32);
    line-height: 50px;
    padding-left: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 50px;
    font-size: 20.5px;
    padding: 10px;
}
.nav a:hover{
    background-color: lightgray;
    color: rgb(60, 94, 99);
}
.profile img{
    width: 50px;
    border-radius: 50px;
}